#img{
    width: 45vh;
    height: 45vh;
    background-color: wheat;
    border-radius: 25vh;


}
progress{
    height: 5vh;
    width: 100vh;
    
}
#name{
    color: white;
    font-size: 20px;
}
#upd{
    color: #202550;
    font-size: 20px;
    font-weight: bold;
}